<form class="form">
  <div class="container">
    <div class="time-input">
      <label><b>Start Time </b></label>
      <input id="starttime" [(ngModel)]="timeForm.startTime" type="time" name="time" step="1">
    </div>
    <div class="time-input">
      <label><b>End Time </b></label>
      <input id="endtime" [(ngModel)]="timeForm.endTime" type="time" name="time" step="1">
    </div>
    <div>
      <button type="submit" (click)="getTime()">Submit</button>
    </div>
  </div>

  <div class="output container">
    <div *ngFor="let time of outputArray">
      {{time}} is Magical Time
    </div>
  </div>
</form>